@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');

body {
    background: white;
    padding: 0%;
    margin: 0%;
}

/* ---- OUTER CONTAINER ---- */
.outer-container {
    width: 100%;
    height: 1080px;
    margin-right: auto;
    margin-left: auto;
}

/* ---- NAVBAR ---- */

 /* Navbar container */
 .navbar {
  font-size: 16px;
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0);
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-family: 'Readex Pro', sans-serif;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}

/* The dropdown container */
.sneakers-dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.sneakers-dropdown .dropbtn {
  font-size: 16px;
  font-family: 'Readex Pro', sans-serif;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .sneakers-dropdown:hover .dropbtn {
  text-decoration: underline;   
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff00;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.sneakers-dropdown:hover .dropdown-content {
  display: block;
} 

  /* ---- CONTENT ---- */

  .website-content {
    border: 3px solid black;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}


/* ---- FOOTER ---- */


.footer {
  max-width: 100%;
  height: 75px;
  background-color: rgb(31, 31, 32);
}

.footer li ul {
  color: rgb(82, 82, 82);
  font-family: Arial, Helvetica, sans-serif;
  float: left;
}